
       
<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">
    <form action="/" method="GET">
        <select name="category" class="form-control">
           <option value="all">All</option>
           <option value="clothes">Clothes</option>
           <option value="phones">Phones</option>
           <option value="computers">Computers</option>
        </select>
        <input type="submit" value="Filter" class="btn btn-primary">
    </form>
    <diV class="row">
        <% for(let product of products){ %>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">

            <div class="card" style="width: 18rem;">
                <img src="<%= product.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                      <a href="/product/<%= product._id%>"><%= product.name%></a>
                      <p>Price: <%= product.price%></p>
                  </h5>
                  <form action="/cart" method="POST" class="add-to-cart-form">
                      <input type="number" name="amount" class="form-control">
                      <input type="hidden" name="name" class="form-control" value="<%= product.name %>">
                      <input type="hidden" name="price" class="form-control" value="<%= product.price %>">
                      <input type="hidden" name="productId" class="form-control" value="<%= product._id %>">
                      <input type="hidden" name="redirect" class="form-control" value="/">
                      <input type="submit" value="Add To Cart" class="btn btn-primary">
                  </form>
                </div>
              </div>
              <% if(ValidationErrors){%>
                <p class="alert alert-danger">
                    <%= ValidationErrors.msg%>
                </p>
               <% } %>
        </div>
        
        <% } %>
        
        <%if(products.length <= 0){%>
           <p class="alert alert-danger">Products not found</p>
            <% } %>
    </diV>

</div>


<%- include('parts/footer')%>

